<div class=" pb-2 mb-3 pt-3">
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to orders_path, class: "btn btn-secondary" do %>
      <i class="fa fa-arrow-left"></i> Back
    <% end %>
    <%= link_to edit_order_path(@order), class: "btn btn-warning mx-3" do %>
      <i class="fa fa-pencil"></i> Edit
    <% end %>
  </div>
</div>

<table class="table table-user-information table-borderless">
  <tbody>
  <tr>
    <td>ID</td>
    <td><%= @order.id %></td>
  </tr>
  <tr>
    <td>Customer</td>
    <td><%= @order.customer.email %> - Cus ID: <%= @order.customer.id %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @order.status.humanize %></td>
  </tr>
  <tr>
    <td>Shipping Address</td>
    <td><%= @order.shipping_address %></td>
  </tr>
  <tr>
    <td>Order Email</td>
    <td><%= @order.order_email %></td>
  </tr>
  <tr>
    <td>Created At</td>
    <td><%= @order.created_at %></td>
  </tr>
  <tr>
    <td>Updated At</td>
    <td><%= @order.updated_at %></td>
  </tr>
  <tr>
    <td>Items (<%= @order_details.size %>)</td>
    <td>
      <% @order_details.each do |item| %>
        <ul>
          <li>Name: <%= item.product.name %></li>
          <li>Price: <%= number_to_currency item.price %></li>
          <li>Quantity: <%= item.quantity %></li>
          <li>Total amount: <%= number_to_currency item.price * item.quantity %></li>
        </ul>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>