<!DOCTYPE html>
<html>
<head>
  <title>AlignTech Test</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/navbar' if admin_signed_in? %>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' if admin_signed_in? %>

    <div class="container col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
      <% end %>

      <%= yield %>

    </div>

    <%= render 'layouts/footer' if admin_signed_in? %>

  </div>

</div>
</body>
</html>
